@mixin inputIcon($image, $size: 16px) {
  background-size: $size;
  background-image: $image;
  background-repeat: no-repeat;
  background-position: center right calc($size / 2);
}

input:not([type="checkbox"]),
select {
  background-color: #fff;
  font-family: inherit;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  outline: none;
  border-bottom: 2px solid #aaa;
  appearance: none;
  position: relative;
  transition: background-color 50ms ease-in;
  
  &::selection {
    color: white;
    background: #212121;
  }

  &:not(:disabled):hover {
    background-color: #f0f0f0;
    border-bottom: 2px solid #777;
  }

  &:not(:disabled):focus {
    background-color: #fff;
    border-bottom: 2px solid #666;
  }

  &:disabled {
    background-color: #f0f0f0;
  }

  &::-webkit-inner-spin-button,
  &::-webkit-calendar-picker-indicator {
    opacity: 0;
    width: 100%;
    position: absolute;
  }
}

select {
  @include inputIcon(url("../assets/icons/dropDown.svg"));
  padding-right: 32px;
}

input[type="date"] {
  @include inputIcon(url("../assets/icons/calendar.svg"));
}

input[type="checkbox"] {
  margin-right: 1rem;
  width: 1.25rem;
  height: 1.25rem;
}

input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

button {
  padding: 0.6em 1em;
  border-radius: 4px;
  font-family: inherit;
  border: none;
  transition: filter 100ms ease-in-out, transform 20ms ease-in-out;
  transform: translateY(0);
  background-color: #ccc;
}

button:hover {
  filter: brightness(1.1);
}

button:active {
  filter: brightness(0.9);
  transform: translateY(1px);
}

button.primary {
  background-color: #403f82;
  color: white;
}

button:disabled {
  filter: contrast(0.3) !important;
  cursor: not-allowed;
  transform: none !important;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  label {
    font-size: 0.8rem;
  }
}

.iconButton {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.iconButton i {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  background-size: 16px;
  background-repeat: no-repeat;
}

.iconButton.light i {
  filter: invert(1);
}

.iconButton i.document {
  background-image: url("../assets/icons/Document.svg");
}

.iconButton i.sendTest {
  background-image: url("../assets/icons/SendTest.svg");
}