.link.icon {
  display: flex;
  flex-direction: row;
  align-items: center;

  &::before {
    $iconSize: 16px;

    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: $iconSize;
    width: $iconSize;
    height: $iconSize;
    margin-right: 8px;
    content: " ";
  }

  &.info::before {
    background-image: url("../../assets/icons/userInfo_light.svg");
  }

  &.prova::before {
    background-image: url("../../assets/icons/provaOnline_light.svg");
  }

  &.logout::before {
    background-image: url("../../assets/icons/arrowBack_light.svg");
  }
}

.logout {
  margin-top: 2rem;
}
