.dataTable {
  font-size: 0.8rem;
  border-collapse: collapse;
  width: 100%;
}

.dataTable th {
  text-align: left;
  padding: 0.25em;
}

.dataTable td {
  text-align: left;
}

.dataTable tbody tr {
  background-color: #f8f8f8;
  cursor: pointer;
}

.dataTable tr:nth-child(even) {
  background-color: #f4f4f4;
}

.dataTable tbody tr:hover {
  background-color: #ececec;
}

.dataTableSelecionado {
  background-color: rgb(202, 212, 245) !important;
}

.dataTable input {
  border-radius: 0;
  padding: 0.2em 0.4em;
  border: 2px solid transparent;
}

.dataTable input:focus {
  border: 2px solid black;
}

.dataTable input[type="number"] {
  text-align: right;
  width: 60px;
  -moz-appearance: textfield;
}

.dataTable input[type="number"]::-webkit-outer-spin-button,
.dataTable input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.actionBar {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  align-items: center;
}

.actionBarSpacer {
  flex-grow: 1;
}

.icon {
  --icon-size: 16px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: var(--icon-size);
  width: var(--icon-size);
  height: var(--icon-size);
}

.icon.xl {
  --icon-size: 32px;
}

.iconButton {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.iconButton i {
  margin-right: 8px;
}

.exportTable {
  background-image: url("../../assets/calc128.svg");
}

.saveIcon {
  background-image: url("../../assets/icons/lc_save.svg");
}
