.exportExcelButton {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.exportExcelButton i {
  margin-right: 8px;
}

.actionButtons {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}
